#mainNav .navbar-toggler {
    margin-top: 0px;
    position: absolute;
    top:30px;
}


/**
** container options
*/

@media (max-width: 992px) {
    .container {
        width: 98%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    section {
        padding: 30px 0;
    }
}


/**
 navigation
 */

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand img {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #005596;
        border: 1px solid #005596;
        border-radius: 3px;
        background: #ffffff;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: #005596;
        border: 1px solid #005596;
        background: #ffffff;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }
    #mainNav.navbar-shrink .navbar-brand img {
        width: 190px;
    }
}

@media (max-width: 992px) {
    #mainNav {
        height: auto;
    }
    #mainNav .navbar-brand img {
        width: 190px;
    }
}

@media (max-width: 576px) {
    #mainNav {
        padding-left: 0;
        padding-right: 0;
    }
    #mainNav .navbar-brand {
        margin-right: 0;
    }
    #mainNav .navbar-toggler {
        right: 0;
    }
}


/**
** masthead options
*/

@media (min-width: 992px) {}

@media (max-width: 992px) {
    header.masthead {
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    header.masthead .swiper-area .swiper-container .swiper-wrapper .swiper-slide .content-slider-1 h1 {
        font-size: 50px;
    }
    header.masthead .swiper-area .swiper-container .swiper-wrapper .swiper-slide .content-slider-1 h2 {
        font-size: 26px;
    }
}


/**
** pages options
*/

@media (max-width: 992px) {
    .logos-sponsors img {
        width: 96%
    }
}

@media (max-width: 768px) {
    #speakers .speaker-item {
        margin-bottom: 10px;
    }
    #registration .regitration-title-content h2 {
        font-size: 20px;
    }
    #registration .regitration-title-content h1 {
        font-size: 40px;
    }

    #registration .tnc.wide{
        display:none;
    }

    #registration .tnc.half{
        display:block;
    }

    footer#footer p {
        text-align: center;
    }
}

@media (max-width: 576px) {
    #about-convention .about-img img {
        width: 100%;
        margin-top: 30px;
    }
    .border-line {
        margin-bottom: 30px!important;
    }
    #programme .programme-title-schedule {
        padding: 20px 0;
    }
    #programme .programme-title-schedule h2 {
        font-size: 14px;
    }
    #programme .programme-title-schedule h1 {
        font-size: 20px;
    }
    #speakers .speaker-item {
        margin-bottom: 10px;
    }
    .logos-sponsors img {
        width: 95%
    }

    #partners .logos-partners img {
        width:80%;
    }

    footer#footer p {
        text-align: center;
    }

    .img-organizer img{
        width:100%;
    }

    .next-row{
        margin-top:0;
    }
}